<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>Categories</h1>

<div class = 'pane'>
{% for categorie in categories %}

<div>

<a href = "{{url_for('showMenu', categorie_id = category.id)}}"> <h3>{{categorie.name}}</h3></a>

<p><a href = "{{url_for('editCategorie',categorie_id = category.id)}}">Edit Categorie</a></p>

<p> <a href = "{{url_for('deleteCategorie',categorie_id = category.id)}}">Delete Categorie</a> </p>

<p> <a href = "{{url_for('newCategorie',categorie_id = category.id)}}">Add a Categorie</a> </p>

</div>


{% endfor %}
</div>
</body>

</html>